.battle-deck {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 55rem;
    height: 63rem;
    align-items: center;
    border-radius: 1rem;
    margin: 3rem;
    background-color: #282645;
    box-shadow: inset 0rem 0rem 21rem -2rem black;

    @media screen and (max-width: 580px) {
        border-radius: 0;
        margin: 0;
        height: 80vh;
    }

    .my-deck {
        display: flex;
        max-width: 100%;
    }

    .card.is-disabled {
        opacity: .3;
        pointer-events: none;
    }

    .v-card.battle-result {
        padding: 2rem;
        border-radius: 1rem;
    }

    .battle-results-options {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;

        .ms-auto {
        width: 12rem;
        margin: 1rem !important;
        }
    }
}